<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css//bootstrap-theme.min.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"></link>
 <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,500italic' rel='stylesheet' type='text/css'></link>
 <link rel="stylesheet" type="text/css" href="resources/css/stylesCSS.css"></link>
 <script src = "http://code.jquery.com/jquery-2.1.4.js"></script>


<title></title>
</head>
<body>
<div class = "container">
	<div class = "row">
		
		<div class = "col-md-3">
		<img class = "title-logo" src = "resources/images/logo.png"/>
			<h4>
			    <div class = "text-center">
					<div th:if ='${user != null}'>
						<b>Hello, <span th:text="${user.name}"/>!</b>
					</div>
					<div th:if ='${user == null}'>
						<b>Hello, <th:text> "guest"</th:text>!</b>
					</div>
					
				</div>
			</h4>
		</div>
		<div class = "col-md-9">
			<h1><p class="text-center text-capitalize title-super">Welcome to Phonebook</p></h1>
			<h4 class ="text-center"> Test assignment for lardi</h4>
		
	
	</div>
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<a href="index" id="btn">
					<button type="button" class="btn btn-default">Main</button>
				</a>
		</div>
		<div class="btn-group" role="group">
			<a href="login" id="btn">
				<button type="button" class="btn btn-default" >LogIN</button>
			</a>
		</div>
		<div class="btn-group" role="group">
			<a href="about" id="btn">
				<button type="button" class="btn btn-default">About</button>
			</a>
		</div>
	</div>
	
	<div>
	<!-- smth inside -->
	</div>
	<div class = "footer">
		<div class = "row">
		
			<div class = "col-md-8">
			</div >
			<div class = "col-md-4">
			
				<address>
				<strong>Kiev, Ukraine</strong><br></br>
				<a href="https://github.com/kastyan-kg/PhoneBook.git">github</a>
				</address>
		    </div>
		</div>
	</div>
	

</div>
</div>
</body>
</html>