<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css//bootstrap-theme.min.css"></link>
 <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"></link>
 <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700,500italic' rel='stylesheet' type='text/css'></link>
 <link rel="stylesheet" type="text/css" href="resources/css/stylesCSS.css"></link>
 <script src = "http://code.jquery.com/jquery-2.1.4.js"></script>


<title></title>
</head>
<body>
<div class = "container">
	<div class = "row">
		
		<div class = "col-md-3">
		<img class = "title-logo" src = "resources/images/logo.png"/>
			<h4>
			    <div class = "text-center">
						<div th:if="${user.name == 'guest'}"> <!-- if customer is anonymous-->
							<b><div>Welcome, Guest!</div></b>
						</div>

						<div th:unless="${user.name == 'guest'}"> <!-- if customer is not anonymous(logged in)-->
							<b><div th:text="'Hello, ' + ${user.name} + ' !'"></div></b><a href="logout" id="btn">LogOut</a>
						</div>
				</div>
			</h4>
		</div>
		<div class = "col-md-9">
			<h1><p class="text-center text-capitalize title-super">Welcome to Phonebook</p></h1>
			<h4 class ="text-center"> Test assignment for lardi</h4>
		
	
	    </div>
		<div class="btn-group btn-group-justified " role="group" aria-label="...">
			<div class="btn-group " role="group">
				<a href="index" id="btn"><button type="button" class="btn btn-default">Main</button></a>
		    </div>
		    <div class="btn-group " role="group">
			   <a href="login" id="btn"><button type="button" class="btn btn-default" >LogIN</button></a>
			</div>
			<div class="btn-group " role="group">
				<a href="about" id="btn"><button type="button" class="btn btn-default">About</button></a>
			</div>
		</div>
	<!-- smth inside -->
	<div style = "padding-top:5px">
	
			<table class="table table-bordered" >
				<thead>
				  <tr>
				    <th>#</th>
					<th>Name</th>
					<th>Surname</th>
					<th>Fathersname</th>
					<th>cellphone</th>
					<th>phone</th>
					<th>addres</th>
					<th>Email</th>
					<th>Actions</th>
				  </tr>
				</thead>
				<tbody>
				
					<tr th:each="contact,idStatus : ${phonebook}" >
					
					    <td th:text="${idStatus.count}"></td>
						<td th:text="${contact.name}"></td>
						<td th:text="${contact.surname}"></td>
						<td th:text="${contact.fathersname}"></td>
						<td th:text="${contact.cellphone}"></td>
						<td th:text="${contact.phone}"></td>
						<td th:text="${contact.addres}"></td>
						<td th:text="${contact.email}"></td>
						<td>
							<a  class="btn btn-default" th:href = "@{/deletecontact/{id}(id=${contact.id})}"><span>Delete</span></a>
							<a  class="btn btn-default" th:href = "@{/edit/{id}(id=${contact.id})}"><span>Update</span></a>
                        </td>
						
					</tr>
					
				</tbody>
			</table>
		
	</div>
	
	<div th:unless="${user.name == 'guest'}">
	    <form class="form-inline" action="#" th:action="@{/addingcontact}"  th:object="${contact}" method="post">
			  <div class="form-group">
				
				<input type="text" class="form-control"  placeholder="Surname" th:field="*{surname}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Name" placeholder="Name" th:field="*{name}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Fathers Name" placeholder="Fathersname" th:field="*{fathersname}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Cellphone" placeholder="Cellphone" th:field="*{cellphone}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Phone" placeholder="Phone" th:field="*{phone}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Addres" placeholder="Addres" th:field="*{addres}" ></input>
			  </div>
			  <div class="form-group">
					<input type="text" class="form-control" id="Email" placeholder="Email" th:field="*{email}" ></input>
					
			  </div>
									
			  <button type="submit" class="btn btn-default">Add Contact</button>
		</form>
	</div>
	<div class = "footer">
		<div class = "row">
		
			<div class = "col-md-8">
			</div >
			<div class = "col-md-4">
			
				<address>
				<strong>Kiev, Ukraine</strong><br></br>
				<a href="https://github.com/kastyan-kg/PhoneBook.git">github</a>
				</address>
		    </div>
		</div>
	</div>
	

</div>
</div>
</body>
</html>